<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= kindOfDay %> </h1>

    <ul>
        <li>Practice Node Routing</li>
        <li>Finish ToDo List App</li>
        <li>Play Guitar</li>
        <li>Play Some Video Games</li>
    </ul>

    <form action="/" method="POST">
        <input type="text" name="newItem" id="newItem" placeholder="ToDo Item">
        <button type="submit">Add</button>
    </form>
</body>
</html>